{ margin: 0
  padding: 0; }

body {background-color: blue;}

a {color: white;
list-style: none;
display: inline-flex;
  border: 15px;
  margin: 15px;
  padding: 0px;
}

.navbar {
      margin-bottom: 0;
      border-radius: 0;}

      .row.content {height: 450px}


.sidenav {
      padding-top: 20px;
      background-color: #f1f1f1;
      height: 100%;}

      footer {
      background-color: #555;
      color: white;
      padding: 15px;}

h1 {color: white;
font-size: 40px;
font-family: 'Rubik', sans-serif;
}

h2 {color: white;
	font-size: 30px;
    font-family: 'Rubik', sans-serif;
    display: inline-flex;
    transform: translate(10px, 20px);
}
.menu-flex {
display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center; 
 
   }
 .categorias-flex {display: flex;
  flex-direction: row;
justify-content: space-between;}  

section {font-size: 16px;
	font-family: 'Open Sans', cursive;
   display: inline-flex;
   border: 10px;
   margin: 10px;
   padding: 10px;
   width: 100px;
   height: 100px;
   background-color: yellow;
   animation-iteration-count: infinite;
   animation-timing-function: ease-in;
   animation-duration: 2s;
   animation-delay: 0s;
   }


 #categorias {display: inline-flex;
  	border: 0px;
   margin: 10px;
   padding: 0px;
 background-color: yellow;
   animation-iteration-count: infinite;
   animation-timing-function: ease-in;
   animation-duration: 2s;
   animation-delay: 0s;}

   #new {color: white;
  font-size: 30px;
    font-family: 'Rubik', sans-serif;
    background-color: red;
    display: inline-flex;}


p {color: white;
	font-size: 16px;
	font-family: 'Open Sans', cursive;
	display: block;
transition: height 2, width 1;}

caption {color: white;
	font-size: 25px;
	font-family: 'Open Sans', cursive;}


   th {color: white;
	font-size: 16px;
	font-family: 'Open Sans', cursive;
     }


td {color: white;
	font-size: 16px;
	font-family: 'Open Sans', cursive;
}

span {color: white;
font-size: 25px;
	font-family: 'Rubik', sans-serif;
	display: block;
	}

ul {color: white;
font-size: 25px;
font-family: 'Open Sans', cursive;
display: inline-flex;
  list-style: none;
  border: solid 2px;}
  

ol {color: white;
  display: flex;}

 @media screen and (max-width: 767px)   

    
	

